<div id="footer" class="xs-center{% if page.category == "under_development" or page.category == "documentation" or page.categories[0] == "documentation" %} slice-top-left{% else %} slice-top-right{% endif %}">
    <div class="row footer-nav">
        <div class="row-container">
            <div class="col-xs-12 col-sm-2">
                <a href="https://developer.ticketmaster.com/products-and-docs/"><h4 class="white">Products & Docs</h4></a>
                <ul>
                    <li><a href="https://developer.ticketmaster.com/products-and-docs/apis/getting-started/">APIs</a></li>
                    <li><a href="https://developer.ticketmaster.com/products-and-docs/sdks/">SDKs</a></li>
                    <li><a href="https://developer.ticketmaster.com/products-and-docs/widgets/">Widgets</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="https://developer.ticketmaster.com/partners/"><h4 class="white">Partners</h4></a>
                <ul>
                    <li><a href="https://developer.ticketmaster.com/partners/distribution-partners/">Distribution Partners</a></li>
                    <li><a href="https://developer.ticketmaster.com/partners/certified-partners/">Certified Partners</a></li>
                    <!--<li><a href="{{"https://darwin.affiliatewindow.com/login"}}">Affiliates</a></li>-->
                    <li><a href="https://developer.ticketmaster.com/partners/startups-and-developers/">Startups & Developers</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="https://developer.ticketmaster.com/support/"><h4 class="white">Support</h4></a>
                <ul>
                    <li><a href="https://developer.ticketmaster.com/support/faq/">FAQ</a></li>
                    <li><a href="http://stackoverflow.com/questions/tagged/ticketmaster-api/ ">Forums</a></li>
                    <li><a href="https://developer.ticketmaster.com/support/terms-of-use/">General Terms of Use</a></li>
                    <li><a href="https://developer.ticketmaster.com/support/terms-of-use/partner/">Partner API Terms of Use</a></li>
                    <li><a href="https://developer.ticketmaster.com/support/branding-guide/">Branding Guide</a></li>
                    <li><a href="https://developer.ticketmaster.com/support/contact-us/">Contact us</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="https://developer.ticketmaster.com/blogs/"><h4 class="white">Blogs</h4></a>
                <ul>
                    <li><a href="http://tech.ticketmaster.com/">Tech Blog</a></li>
                    <li><a href="https://medium.com/ticketmaster-tech/">Medium Publication</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="https://developer.ticketmaster.com/events/"><h4 class="white">Events</h4></a>
                <ul>
                    <li><a href="https://developer.ticketmaster.com/events/#hackathon">hackathons</a></li>
                    <li><a href="https://developer.ticketmaster.com/events/#devjam">devjam</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <a href="http://code.ticketmaster.com/"><h4 class="white">Open Source</h4></a>
                <ul>
                    <li><a href="http://code.ticketmaster.com/#android-projects">Android</a></li>
                    <li><a href="http://code.ticketmaster.com/#backend-projects">Backend</a></li>
                    <li><a href="http://code.ticketmaster.com/#iOS-projects">iOS</a></li>
                    <li><a href="http://code.ticketmaster.com/#web-projects">Web</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row bottom-logo" style="margin-bottom: 10px;">
        <div class="row-container">
            <div class="col-xs-12">
                <a href="http://developer.ticketmaster.com">
                    <img src="/assets/img/footer/ticketmaster-logo-white.svg">
                    <span>© 1976–2016 Ticketmaster. All rights reserved.</span>
                </a>
            </div>
        </div>
    </div>
</div>
